/* reset css */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: inherit;
}


/* ---------------------------- */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Oswald', sans-serif;
    /* background: url(../images/upfeathers.png); */
    font-weight: 300
}

.clear {
    clear: both;
}

i {
    font-style: italic;
    margin-right: 4px;
}

::selection {
    background: #ffe600;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #ffe600;
    /* Gecko Browsers */
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

header {
    /* background: #002B5E; */
    background: #000000;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 2;
}

h1 {
    font-family: 'Old Standard TT';
    font-size: 1.6em;
    letter-spacing: 1.1px;
    font-weight: 400;
    margin: 0px 0px 20px 0px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #444444;
    color: #444444;
}

h1 a {
    text-decoration: none;
}

h2 a {
    text-decoration: none;
}

h2 {
    font-size: 1.6em;
    letter-spacing: 1.1px;
    font-weight: 400;
    margin: 0px 0px 20px 0px;
    padding-bottom: 10px;
    border-bottom: 1px dotted black;
}

.logo {
    font-weight: 400;
    font-size: 1.4em;
    margin: 15px;
    float: left;
    color: white;
    margin-left: 3%;
    font-style: italic;
    letter-spacing: 0.05em;
}

.logo span {
    float: left;
    margin-right: 10px;
}

.logo span:nth-child(2) {
    margin-top: 3px;
}

.logo a {
    text-decoration: none;
    margin-top: 4px;
    display: inline-block;
}

.title {
    border-bottom: 1px dotted black;
    margin-bottom: 20px;
    display: inline-block;
}

.title h1 {
    margin-bottom: 0px;
    border-bottom: 0px;
    float: left;
}

.collapsible {
    cursor: pointer;
}

#favourite {
    margin-left: 40px;
    font-size: 1em;
    line-height: 1.15em;
    cursor: pointer;
}

.fav_true {
    color: #c70000;
}

.fav_false {
    color: #6b6b6b;
}

.fav_false:hover {
    color: #c70000;
}

.content {
    margin-top: 66px;
    padding: 3%;
    box-sizing: border-box;
    width: 50%;
    float: left;
    min-height: 400px;
    font-family: 'Roboto Mono';
}

.content h3 {
    margin: 50px 0px 20px 0px;
    display: block;
    font-size: 1.3em;
    letter-spacing: 0.06em;
    font-family: 'Old Standard TT';
    color: #585858;
}

.content p {
    margin: 15px 0px;
    line-height: 1.8em;
    padding: 2px;
    letter-spacing: 0.01em;
    font-family: 'Roboto Mono';
    font-size: 0.9em;
}

.ragasContainer {
    display: inline-block;
}

.ragasContainer .number {
    font-size: 0.6em;
    margin-right: 10px;
}

.ragasContainer div div {
    display: inline-block;
}

.ragasContainer h4 {
    margin: 20px 0px 10px 0px;
}

.seeMore {
    letter-spacing: 1px;
    color: #797979;
    font-size: 0.7em;
    line-height: 18px;
    font-family: 'Roboto Mono';
    margin: 10px 0px;
    display: block;
    cursor: pointer;
}

.breadcrumb {
    font-size: 0.7em;
    font-family: 'Roboto Mono';
    margin-bottom: 40px;
    color: #5F5F5F;
}

.breadcrumb a {
    text-decoration: underline #848484;
    text-underline-offset: 1px;
}

.breadcrumb a:hover {
    text-decoration: underline #848484;
    text-underline-offset: 1px;
    color: #545454;
}

.button {
    font-size: 0.6em;
    font-family: 'Roboto Mono';
    letter-spacing: 0.2em;
    color: #848484;
    border: 0px;
    margin-right: 15px;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    margin-bottom: 0px;
    box-sizing: border-box;
}

.controls .button,
.phraseBookControl .button {
    font-size: 0.7em;
}

.buttonToggle {
    padding: 10px 20px;
    font-family: 'Oswald';
    background: none;
    font-size: 1em;
    border-radius: 5px;
    color: black;
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.button:hover,
.button.active {
    background: #6b6b6b;
    color: white;
}


/* Footer styles */

footer {
    padding: 60px 3%;
    border-top: 1px solid #e2e2e2;
    margin-top: 40px;
    color: #5d5d5d;
    font-family: 'Roboto Mono';
    font-size: 0.8em;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

footer p a {
    padding: 0px 5px;
}

footer p a:last-child {
    border: none;
}

footer p:last-child a {
    border: none;
}

.footerLinks {
    width: 50px;
    display: inline-block;
    margin-right: 30px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.small {
    display: none;
}


/* options */

#notesON {
    background: yellow;
}

#tanpuraVolumeKnob {
    margin-top: -6px;
    margin-right: 17px;
}

.options {
    display: inline-block;
    margin-bottom: 40px;
}

.options div {
    float: left;
    /* border: 1px solid rgb(224, 223, 223); */
    border-radius: 3px;
    margin-right: 3px;
    padding: 4px 4px 4px 0px;
    box-sizing: border-box;
}

.options div:first-child {
    width: 175px;
}

.options div:nth-child(2) {
    width: 278px;
}

.options div:nth-child(3) {
    width: 128px;
}

.options div>span {
    font-family: 'Roboto Mono';
    font-size: 13px;
    letter-spacing: 1px;
    color: #848484;
    margin-top: 4px;
    float: left;
}

.switch {
    float: left;
}

.options input {
    height: 22px;
    width: 34px;
    font-family: 'Roboto Mono';
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    font-size: 1.1em;
    padding: 1px 3px 1px 4px;
    margin: -3px 0px 0px 10px;
    color: #585858;
}


/* Toggle button styles*/

.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 16px;
    margin: 2px 20px 0px 8px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #ffe600;
}

input:focus+.slider {
    box-shadow: 0 0 1px #ffe600;
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Piano Styles*/

#pianoWrapper {
    margin-top: 66px;
    position: fixed;
    left: 50%;
    width: 50%;
    padding: 3% 0px;
    font-family: 'Roboto Mono';
}

#newPiano {
    background: black;
    position: relative;
    border-radius: 5px;
    width: 587px;
    margin-bottom: 20px;
}

.whiteKey {
    background: url(../images/whiteKey.png);
    width: 73px;
    height: 184px;
}

.whiteKeyPressed {
    background: url(../images/whiteKeyPressed.png);
    width: 73px;
    height: 184px;
}

#newPiano p {
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
}

.blackKey {
    background: url(../images/blackKey.png);
    width: 36px;
    height: 120px;
}

.blackKeyPressed {
    background: url(../images/blackKeyPressed.png);
    width: 36px;
    height: 120px;
}

.setOfBlackKeys {
    position: absolute;
    float: left;
    top: 0px;
    left: 57px
}


/*Black key margin offset */

#g₂Key {
    margin-left: 37px;
}

#m₂Key {
    margin-left: 109px;
}

#d₁Key {
    margin-left: 37px;
}

#n₂Key {
    margin-left: 37px;
}


/* 12 note piano styles */

.twelveNote {
    margin-top: 20px;
    font-size: 11px;
    font-family: 'Roboto Mono';
    display: none;
}

.firstRow li {
    float: left;
    padding: 10px 0px;
    background: #dedede;
    color: black;
    width: 36px;
    text-align: center;
    border-radius: 3px;
}

.secondRow li {
    float: left;
    text-align: center;
    width: 71px;
    padding: 10px 0px;
    background: white;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
}

.firstRow li:nth-child(1) {
    margin-left: 58px;
}

.firstRow li:nth-child(2) {
    margin-left: 37px;
}

.firstRow li:nth-child(3) {
    margin-left: 109px;
}

.firstRow li:nth-child(4) {
    margin-left: 37px;
}

.firstRow li:nth-child(5) {
    margin-left: 37px;
}

.secondRow li span {
    background: white;
    padding: 6px;
}

.note {
    text-align: center;
    letter-spacing: 0.05em;
    padding: 15px;
}


/* Swara help styles */

.swaraHelpActive {
    box-sizing: border-box;
    font-size: 1.6em;
    color: #FFE600;
    text-shadow: 0px 0px 10px #FFE600;
    text-align: center;
    padding-top: 65px;
    user-select: none;
    -webkit-user-select: none;
}

.whiteKey.swaraHelpActive {
    padding-top: 140px;
}

.whiteKeyPressed.swaraHelpActive {
    padding-top: 140px;
}

.notesHelpOFF {
    color: rgba(234, 240, 246, 0);
    text-shadow: none;
}


/* Exercises styles */

.headingHighlight {
    background: #F2C43D;
    padding: 8px;
    margin-top: 40px !important
}

.paraHighlight {
    background: #005378 !important;
    padding: 10px !important;
    font-size: 25px !important;
}

.paraBlueHighlight {
    background: #005378 !important;
}


/* Beginner tips */

.tips {
    width: 587px;
    line-height: 1.3em;
    letter-spacing: 0.02em;
    color: #585858;
}

.tips p {
    font-size: 0.8em;
}


/*Search terms */

.searchterms span {
    color: black !important;
}

.searchterms span {
    background: #F2C43D;
    margin-left: 10px;
    border-radius: 3px;
    display: inline-block;
    margin-top: 5px;
}

.searchNotes {
    margin-top: 10px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #797979;
    font-size: 11px;
    line-height: 18px;
    cursor: pointer;
}


/* Search */

.search {
    margin: 30px 0px 20px 0px;
}

.search input {
    height: 50px;
    width: 75%;
    font-size: 1.2em;
    font-family: 'Roboto Mono';
    letter-spacing: 0.03em;
    font-weight: 200;
    border-radius: 5px;
    border: 1px solid #cecece;
    background: none;
    padding: 0px 0px 0px 24px;
    color: black;
}

textarea:focus,
input:focus {
    outline: 0;
}

.ragaName {
    font-size: 0.9em;
    padding: 10px 20px;
    background: #f5f5f5;
    color: #4e4e4e;
    margin: 5px 10px 0px 0px;
    float: left;
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace;
}

.ragaName a {
    text-decoration: none;
}

.ragaName a:hover {
    text-decoration: underline;
}

.ragaName.active {
    background: #4e4e4e;
    color: white;
}


/* menu */

.menu {
    float: right;
    margin: 20px 40px 0px 40px;
    letter-spacing: 1.07px;
}

.menu ul li {
    float: left;
    color: white;
    margin-right: 20px;
}

.menu ul li:hover {
    text-decoration: underline;
    text-underline-offset: 7px;
}

.menu ul li a {
    text-decoration: none;
}

#arohanam {
    font-size: 21px;
    letter-spacing: 2px;
    float: left;
}

#avarohanam {
    font-size: 21px;
    letter-spacing: 2px;
    float: left;
}

.clearfix {
    margin-bottom: 20px;
    width: 100%;
}

.clearfix p {
    margin: 0px;
    display: inline-block;
}

.controls {
    margin: 40px 0px 50px 0px;
}

#stop {
    line-height: 15.5px
}

#stop span {
    font-size: 1.55em;
    margin-top: -3px;
    display: inline-block;
}

.sequence {
    padding: 40px 0px;
    border-radius: 3px;
    font-size: 1.5em;
    letter-spacing: 0.21em;
    color: #b9b7b7;
    font-weight: 600;
    background-image: linear-gradient(90deg, #ececec, #3a3939);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.textHeading {
    width: 120px;
    display: block;
    float: left;
}

.beta {
    margin-left: 7px;
    font-size: 11px;
}


/* Home page styles */

.page-1 {
    padding-top: 54px;
    width: 100%;
}

.logoClass {
    padding-top: 80px;
    margin: 0 auto;
    width: 20%;
}

.logoClass img {
    width: 100%;
}

.logoText {
    text-align: center;
    padding: 20px;
    font-weight: 400;
    font-size: 286%;
}

.siteDescription {
    text-align: center;
    font-size: 20px;
}

.indexMenu {
    padding: 70px;
    width: 75%;
    margin: 0 auto;
}

.indexMenu ul li {
    width: 33.3333%;
    float: left;
    text-align: center;
}

.indexButton {
    padding: 10px 20px;
    border: 1px solid black;
    font-family: 'Oswald';
    font-size: 1.3em;
    border-radius: 5px;
    color: black;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 1px;
}

.indexButton:hover {
    background: black;
    color: white;
    opacity: 0.8;
}

.indexButton a {
    text-decoration: none;
}

.oddLi {
    padding-top: 12px;
}

.logoText a {
    text-decoration: none;
}

b {
    font-weight: bold;
}

#help {
    text-decoration: underline;
    cursor: pointer;
}

#helpText {
    display: none;
}


/* Effects section styles */

.effects {
    margin-bottom: 20px;
    display: inline-block;
    width: 600px;
}

.effects label {
    font-family: 'Roboto Mono';
    font-size: 0.5em;
    letter-spacing: 0.06em;
    float: left;
    width: 66px;
    text-align: center;
    margin-bottom: 6px;
}

.input-knob {
    float: left;
}

.module {
    border: 1px solid rgb(224, 223, 223);
    border-radius: 3px;
    padding: 10px;
    margin-right: 3px;
    font-family: 'Roboto Mono';
    float: left;
}

.effects .module div {
    width: 64px;
    float: left;
}

#presets {
    width: 116px;
    height: 94px;
}

#presets.module {
    padding-right: 0px;
    display: table;
}

.preset {
    margin-bottom: 2px;
}

.knobValue {
    width: 64px;
    float: left;
    text-align: center;
    margin-bottom: 10px;
    font-size: 0.8em;
    color: #a0a0a0;
}


/* Phrase book styles */

.phraseBook {
    border: 1px solid #e4e3e3;
    border-radius: 3px;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 40px;
    display: none;
}

.phraseBook.active.sarali,
.phraseBook.active.janta,
.phraseBook.active.alankara,
.phraseBook.active.dhatu,
.phraseBook.active.ragaDetail {
    display: block;
}

.phrase {
    font-size: 1em;
    background: #efefef;
    padding: 20px;
    color: #676767;
    font-weight: 600;
    width: 100%;
    box-sizing: border-box;
    border: none;
    letter-spacing: 0.3em;
    font-family: 'Roboto Mono';
    max-width: 100%;
    min-width: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    min-height: 111px;
    margin-top: 0px;
}

.enlarge {
    position: fixed;
    margin: 0 auto;
    top: 66px;
    left: 0px;
    z-index: 1;
    background: white;
    height: 90%;
    padding: 3%;
    overflow-y: scroll;
    margin-bottom: 50px;
    width: 100.05%;
}

#playPhrase {
    margin-right: 10px;
}

.phrase textarea {
    letter-spacing: 0.3em;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c5c5c5;
    opacity: 1;
    font-size: 0.2!important;
    font-weight: 100;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #c5c5c5;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #c5c5c5;
}

.phraseUnit {
    margin-bottom: 10px;
}

.phraseUnit.active {
    border-radius: 3px;
}

.rightControl {
    float: right;
    margin-right: 0px;
    margin-left: 10px;
}

.phraseBookControl {
    margin-bottom: 25px;
}

.phraseHeading {
    margin-bottom: 20px;
    letter-spacing: 0.1em;
    color: #9a9a9a;
    display: inline-block;
    width: 100%;
}

.phraseHeading h4 {
    float: left;
    color: #585858;
}

.phraseHeading span {
    float: right;
    cursor: pointer;
    color: #9a9a9a;
}

h4 span {
    font-size: 0.7em;
    margin-left: 10px;
    display: none;
}

#toastMessages {
    float: left;
    margin-left: 20px;
    font-size: 0.6em;
    margin-top: 5px;
    cursor: default;
}

.phraseSelection {
    background: #dadada;
    height: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
}

.phraseSelection:hover {
    background: #9a9a9a;
}

.phraseUnit.active>.phraseSelection {
    background: #9a9a9a;
}


/* width */

::-webkit-scrollbar {
    width: 8px;
    margin-right: 0px;
}

.enlarge::-webkit-scrollbar {
    width: 10px;
    margin-right: 0px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.varisai {
    cursor: pointer;
    text-decoration: underline;
}

.varisai.active {
    text-decoration: none;
}

#splashscreen {
    background: white;
    width: 100%;
    Height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    text-align: center;
    padding-top: 15%;
    letter-spacing: 0.1em;
    overflow: hidden;
}

#splashscreen p {
    width: 128px;
    height: 100px;
    margin: 0 auto;
    background-size: cover;
    margin-bottom: 20px;
}

.wrapper {
    display: none;
}

.about .ragasContainer {
    margin-top: 20px;
}


/* Raga Moods styles */

.moods {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #585858;
}

.mood {
    float: left;
    padding: 25px 10px;
    box-sizing: border-box;
    margin-right: 1%;
    border-radius: 60px;
    width: 19%;
    cursor: pointer;
    color: #b3b3b3;
}

.mood i {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.mood div {
    font-size: 0.6em;
    margin-top: 20px;
    text-align: center;
    letter-spacing: 0.19em;
}

.mood:hover,
.mood.active {
    color: #383838;
}

.mysterious,
.ecstatic,
.cinematic,
.serene {
    display: none;
}

hr {
    margin: 20px 0px;
    border: solid 1px #f3f3f3;
}


/* Melakartha Chakras */

.chakra {
    float: left;
    padding: 20px 1.7%;
    cursor: pointer;
}

.chakra svg {
    fill: #b3b3b3;
    fill-opacity: 1;
    stroke-width: 0.533333
}

.chakra.active svg,
.chakra:hover svg {
    fill: #383838;
}

.chakra div {
    font-size: 0.6em;
    margin-top: 20px;
    text-align: center;
    letter-spacing: 0.19em;
    line-height: 1.5em;
}

.melakarthaChakra {
    margin-bottom: 15px;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
}

.chakra1,
.chakra2,
.chakra3,
.chakra4,
.chakra5,
.chakra6 {
    display: none;
}

.chakra1.selected,
.chakra2.selected,
.chakra3.selected,
.chakra4.selected,
.chakra5.selected,
.chakra6.selected {
    display: inline-block;
}


/* Blocks for phrasebook */

.blocks {
    display: inline-block;
    width: 100%;
    padding: 20px;
    background: #efefef;
    box-sizing: border-box;
    color: #676767;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Roboto Mono';
}

.blocks>div {
    border: 1px solid #f1f1f1;
    float: left;
    width: 12%;
    box-sizing: border-box;
    padding: 10px;
}


/* Help */

.phraseHeading>#help {
    margin-right: 10px;
}


/* Tooltip container */

.tooltip {
    position: relative;
    z-index: 0;
}


/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 420px;
    background-color: #9a9a9a;
    color: #fff;
    text-align: left;
    padding: 15px;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    line-height: 1.2em;
    right: 150%;
    top: -400%;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #9a9a9a;
}


/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#piano,
#screen {
    display: none;
}

@media (max-width:1217px) and (min-width:320px) {
    #pianoWrapper {
        display: none;
    }
    #pianoWrapper.active {
        display: block;
        margin-left: -290px;
        width: 100%;
        z-index: 2;
        margin-top: 170px;
    }
    #piano {
        display: block;
        float: right;
        margin: 15px;
        cursor: pointer;
    }
    #piano svg {
        fill: #888888;
    }
    #piano.active svg {
        fill: #ffffff;
    }
    #screen {
        display: none;
        width: 100%;
        height: 100%;
        background: #ffffff;
        position: fixed;
        z-index: 1;
    }
    #screen.active {
        display: block;
    }
    .content {
        width: 100%;
        margin: 74px 0 0 0;
    }
    .content>div {
        margin: 0px 3%;
    }
    .phrase {
        margin-top: 0px;
        margin-bottom: 0px !important;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .button {
        background-color: #efefef;
        padding: 2px 10px;
    }
    .chakra {
        padding: 20px 3%;
    }
    .chakra svg {
        fill: #b3b3b3;
        fill-opacity: 1;
        stroke-width: 0.533333
    }
    .chakra.active svg {
        fill: #383838;
    }
    .desktop {
        display: none;
    }
}

@media (max-width:766px) and (min-width:320px) {
    header h1 {
        float: none;
        margin: 20px;
        text-align: center;
    }
    #piano svg {
        display: none;
    }
    .menu {
        display: none;
    }
    .logoClass {
        width: 50%;
    }
    .indexMenu {
        padding: 0px;
    }
    .logoText a {
        line-height: 120%;
    }
    .indexMenu {
        margin-top: 20px;
        margin-bottom: 50px;
        float: left;
        width: 100%;
    }
    .indexButton {
        padding: 4px 6px;
    }
    .indexMenu ul li {
        width: 100%;
        margin-bottom: 15px;
    }
    .indexMenu ul li:last-child {
        padding-top: 0px;
    }
    .indexButton {
        padding: 10px;
    }
    .search input {
        width: 90%;
        font-size: 1em;
    }
    footer p a {
        padding: 0px 5px;
        display: block;
        margin: 8px;
        border: 0px;
        float: left;
    }
    .footerLinks {
        background: white;
        padding: 5px;
        display: block;
        width: 90%;
        color: black;
    }
    footer p {
        display: inline-block;
    }
    span.textHeading {
        float: none;
        margin-bottom: 10px;
    }
    #arohanam {
        display: block;
        font-size: 20px;
        line-height: 30px;
    }
    #avarohanam {
        display: block;
        font-size: 20px;
        line-height: 30px;
    }
    .phrase {
        margin-top: 0px;
        margin-bottom: 0px !important;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .button {
        background-color: #efefef;
        padding: 2px 10px;
    }
    .chakra {
        padding: 20px 8%;
    }
    .chakra svg {
        fill: #b3b3b3;
        fill-opacity: 1;
        stroke-width: 0.533333
    }
    .chakra.active svg {
        fill: #383838;
    }
    .tablet {
        display: none;
    }
    .mood div {
        font-size: 0.4em;
    }
    .controls {
        display: none;
    }
    .phraseBook.active.ragaDetail {
        display: none;
    }
    .logo {
        margin-left: 15px;
    }
    .title h1 {
        font-size: 1.3em;
    }
    #favourite {
        line-height: 1em;
    }
    .content h3 {
        line-height: 1.4em;
    }
}

@media (max-width: 319px) {
    * {
        display: none;
    }
    .small {
        display: block;
    }
}